<a href="https://colab.research.google.com/github/jayarnim/project-Comparative_Analysis_of_Changes_in_Influence_of_Market_Demand_Determinants/blob/main/code/01_Merge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
%cd /content/drive/MyDrive/2023-2_MachineLearning/Project/

Mounted at /content/drive
/content/drive/MyDrive/2023-2_MachineLearning/Project

In [ ]:
df = pd.read_csv(data.PARSEDLIST[0])
df['상권'].nunique()

1486

In [ ]:
from common import data
import numpy as np
import pandas as pd

In [ ]:
import warnings
warnings.filterwarnings('ignore')

# 데이터 세트 불러오기

## target : 추정매출

In [ ]:
target0 = pd.read_csv(data.RAWDICT['추정매출'][0], encoding = "euc-kr")
target1 = pd.read_csv(data.RAWDICT['추정매출'][1], encoding = "euc-kr")
target2 = pd.read_csv(data.RAWDICT['추정매출'][2], encoding = "euc-kr")
target3 = pd.read_csv(data.RAWDICT['추정매출'][3], encoding = "euc-kr")
target4 = pd.read_csv(data.RAWDICT['추정매출'][4], encoding = "euc-kr")
target5 = pd.read_csv(data.RAWDICT['추정매출'][5], encoding = "euc-kr")
target6 = pd.read_csv(data.RAWDICT['추정매출'][6], encoding = "euc-kr")

In [ ]:
df_list = [target0, target1, target2, target3, target4, target5, target6]

In [ ]:
a = "추정매출"
bs = ["비율", "금액", "건수"]

e = "주중주말"
es = ["주중", "주말"]

f = "요일별"
fs = ["월", "화", "수", "목", "금", "토", "일"]

g = "시간대별"
gs = ["00-06", "06-11", "11-14", "14-17", "17-21", "21-24"]

h = "성별"
hs = ["남성", "여성"]

j = "연령대별"
js = ["10대", "20대", "30대", "40대", "50대", "60이상"]

xs = []

for x in bs :
    x = a + "_" + x
    for i in es :
        xs.append(x + "_" + e + "_" + i)
    for i in fs :
        xs.append(x + "_" + f + "_" + i)
    for i in gs :
        xs.append(x + "_" + g + "_" + i)
    for i in hs :
        xs.append(x + "_" + h + "_" + i)
    for i in js :
        xs.append(x + "_" + j + "_" + i)

re_col0 = dict(
    zip(
        target0.loc[:, "주중_매출_비율":"연령대_60_이상_매출_건수"].columns,
        xs
        )
    )

re_col1 = {
    "기준_년_코드" : "년도",
    "기준_분기_코드" : "분기",
    "상권_구분_코드" : "상권유형",
    "상권_코드" : "상권",
    "분기당_매출_금액" : "추정매출_금액",
    "분기당_매출_건수" : "추정매출_건수",
    "점포수" : "추정매출_점포수",
    "서비스_업종_코드" : "업종"
    }

for df in df_list :
    df.rename(columns = re_col0, inplace = True)
    df.rename(columns = re_col1, inplace = True)

In [ ]:
drop_col = ["상권_구분_코드_명", "상권_코드_명", "서비스_업종_코드_명"]

for df in df_list :
    df.drop(columns = drop_col, inplace = True)

In [ ]:
target = pd.concat(df_list)

In [ ]:
target.isnull().mean()

년도                   0.0
분기                   0.0
상권유형                 0.0
상권                   0.0
업종                   0.0
                    ...
추정매출_건수_연령대별_30대     0.0
추정매출_건수_연령대별_40대     0.0
추정매출_건수_연령대별_50대     0.0
추정매출_건수_연령대별_60이상    0.0
추정매출_점포수             0.0
Length: 77, dtype: float64

In [ ]:
target

,년도,분기,상권유형,상권,업종,추정매출_금액,추정매출_건수,추정매출_비율_주중주말_주중,추정매출_비율_주중주말_주말,추정매출_비율_요일별_월,추정매출_비율_요일별_화,추정매출_비율_요일별_수,추정매출_비율_요일별_목,추정매출_비율_요일별_금,추정매출_비율_요일별_토,추정매출_비율_요일별_일,추정매출_비율_시간대별_00-06,추정매출_비율_시간대별_06-11,추정매출_비율_시간대별_11-14,추정매출_비율_시간대별_14-17,추정매출_비율_시간대별_17-21,추정매출_비율_시간대별_21-24,추정매출_비율_성별_남성,추정매출_비율_성별_여성,추정매출_비율_연령대별_10대,추정매출_비율_연령대별_20대,추정매출_비율_연령대별_30대,추정매출_비율_연령대별_40대,추정매출_비율_연령대별_50대,추정매출_비율_연령대별_60이상,추정매출_금액_주중주말_주중,추정매출_금액_주중주말_주말,추정매출_금액_요일별_월,추정매출_금액_요일별_화,추정매출_금액_요일별_수,추정매출_금액_요일별_목,추정매출_금액_요일별_금,추정매출_금액_요일별_토,추정매출_금액_요일별_일,추정매출_금액_시간대별_00-06,추정매출_금액_시간대별_06-11,추정매출_금액_시간대별_11-14,추정매출_금액_시간대별_14-17,추정매출_금액_시간대별_17-21,추정매출_금액_시간대별_21-24,추정매출_금액_성별_남성,추정매출_금액_성별_여성,추정매출_금액_연령대별_10대,추정매출_금액_연령대별_20대,추정매출_금액_연령대별_30대,추정매출_금액_연령대별_40대,추정매출_금액_연령대별_50대,추정매출_금액_연령대별_60이상,추정매출_건수_주중주말_주중,추정매출_건수_주중주말_주말,추정매출_건수_요일별_월,추정매출_건수_요일별_화,추정매출_건수_요일별_수,추정매출_건수_요일별_목,추정매출_건수_요일별_금,추정매출_건수_요일별_토,추정매출_건수_요일별_일,추정매출_건수_시간대별_00-06,추정매출_건수_시간대별_06-11,추정매출_건수_시간대별_11-14,추정매출_건수_시간대별_14-17,추정매출_건수_시간대별_17-21,추정매출_건수_시간대별_21-24,추정매출_건수_성별_남성,추정매출_건수_성별_여성,추정매출_건수_연령대별_10대,추정매출_건수_연령대별_20대,추정매출_건수_연령대별_30대,추정매출_건수_연령대별_40대,추정매출_건수_연령대별_50대,추정매출_건수_연령대별_60이상,추정매출_점포수
0,2023,1,U,3001496,CS300032,752431079,3205,65,35,20,11,14,8,12,14,21,0,0,32,26,39,2,67,33,1,21,30,25,20,3,491453744,260977335,153062323,82440358,107941181,59283307,88726575,106831121,154146214,0,2114114,240059792,195226533,296791995,18238645,372617374,183198112,6225891,116723878,166586291,140272597,109260191,16746639,2166,1039,492,408,426,360,480,510,529,0,48,804,990,1261,102,1494,1398,48,834,930,600,372,108,13
1,2023,1,U,3001496,CS300031,6914347258,3595,66,34,22,13,15,4,12,19,15,0,6,28,46,20,0,42,58,0,0,10,23,20,47,4577608259,2336738999,1551129461,876893912,1031615639,263279643,854689604,1297013502,1039725497,0,380645266,1931422281,3196362893,1405916818,0,2926034263,3988312995,0,0,683399234,1568043505,1387945427,3274959092,2466,1129,598,492,353,247,776,600,529,0,175,986,1694,740,0,1305,2290,0,0,175,669,528,2223,5
2,2023,1,U,3001496,CS300028,35936863,2679,69,31,19,13,15,10,12,21,10,0,9,22,28,41,0,57,43,1,22,41,23,9,5,24822824,11114039,6742593,4550810,5460366,3732756,4336299,7654574,3459465,0,3266766,7757587,10125100,14748628,38782,15590315,11603053,195727,5887573,11158273,6136020,2561421,1254352,1539,1140,333,309,297,285,315,704,436,0,309,636,935,787,12,1406,1151,48,545,933,697,249,84,3
3,2023,1,U,3001496,CS300026,618565083,23142,52,48,9,6,13,9,16,27,21,0,0,21,32,44,3,38,63,2,35,34,22,7,1,322500260,296064823,54485939,38418873,78561486,55106926,95927036,167620348,128444475,0,2348659,130425116,196520937,273473896,15796475,232042918,386522165,11152200,214371811,207482869,134491803,44064573,7001827,11505,11637,1922,1879,2403,2213,3088,6627,5010,0,175,4311,7515,10427,714,7775,15367,455,8826,7303,5135,1071,352,8
4,2023,1,U,3001496,CS300024,2730569863,1907,97,3,33,22,11,23,10,0,2,0,19,18,27,36,0,54,46,0,0,3,1,52,44,2659579921,70989942,886569022,606317682,287117233,613840497,265735487,6357308,64632634,0,526724183,477900053,731450701,994494926,0,1363430717,1157814176,0,0,65480275,33905644,1305875886,1115983087,1844,63,382,276,381,487,318,21,42,0,360,466,806,275,0,869,848,0,0,84,106,402,1124,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180709,2017,4,U,1001496,CS300031,330320365,2903,92,8,3,16,28,22,22,8,0,0,18,22,40,20,0,50,50,0,3,11,16,36,34,303278487,27041878,10541749,51425402,93271563,74018358,74021415,27041878,0,0,58936016,73945024,132514372,64924953,0,114857625,116434465,0,7058389,26105505,36196555,82390081,79541559,2688,215,154,429,701,672,732,215,0,0,429,701,1222,551,0,934,1083,0,122,248,371,652,625,9
180710,2017,4,U,1001496,CS300032,2174589379,9827,74,26,12,12,11,17,22,18,9,0,4,26,34,35,2,55,45,1,16,26,25,18,14,1601331971,573257408,267437873,264583513,235121431,363365708,470823446,385928170,187329238,0,81660524,561707758,728518241,753740715,48962141,966992622,787018046,21689710,286666400,447609815,443923933,309559978,244560837,6955,2872,1456,1292,1289,1202,1716,1482,1390,0,225,2583,2967,3698,354,4356,4513,228,2634,2525,1726,1251,511,9
180711,2017,4,U,1001496,CS300035,2839146155,103084,66,34,8,11,17,12,18,16,19,0,4,29,30,34,5,26,74,0,8,53,24,9,5,1871616983,967529172,221901716,317574736,486634087,326037632,519468812,438757563,528771609,0,100158055,818744224,841826972,950160404,128256500,695743479,2021268896,0,222206318,1452178320,638198436,256500074,147929227,67590,35494,10161,12266,12627,15524,17012,17752,17742,0,2647,28539,27411,39313,5174,25408,77434,0,12292,49939,23469,10804,6338,4
180712,2017,4,U,1001496,CS300041,674145284,9152,81,19,13,18,16,14,20,11,8,0,5,31,24,32,8,50,50,0,8,36,25,16,15,544184202,129961082,88133105,123381400,105546999,92115544,135007154,74355351,55605731,0,31612155,210772436,164145743,214037542,53577408,155488268,153880451,0,24414081,111458818,78560410,48580808,46354600,6330,2822,1187,1088,1631,1286,1138,1337,1485,0,148,2574,2968,3017,445,2819,3413,0,791,2474,1137,940,890,9
180713,2017,4,U,1001496,CS300043,25637222,2530,71,30,6,6,8,26,26,11,19,4,16,30,25,17,7,39,61,0,9,56,28,5,2,18076747,7560475,1510867,1421273,1940143,6576420,6628044,2822007,4738468,1081725,4215353,7769981,6406615,4461279,1702269,9912656,15259305,111728,2326100,14144488,6917920,1216731,454996,1747,783,207,211,356,515,458,512,271,44,235,735,766,624,126,1365,1083,17,215,888,767,335,228,8

## store : 점포현황

In [ ]:
store0 = pd.read_csv(data.RAWDICT['점포현황'][0], encoding = "euc-kr")
store1 = pd.read_csv(data.RAWDICT['점포현황'][1], encoding = "euc-kr")
store2 = pd.read_csv(data.RAWDICT['점포현황'][2], encoding = "euc-kr")
store3 = pd.read_csv(data.RAWDICT['점포현황'][3], encoding = "euc-kr")

In [ ]:
df_list = [store0, store1, store2, store3]

In [ ]:
re_col0 = ['점포현황_점포수', '점포현황_점포수_유사업종', '점포현황_개업_비율', '점포현황_개업_점포수', '점포현황_폐업_비율', '점포현황_폐업_점포수', '점포현황_점포수_프랜차이즈']
re_col0 = dict(zip(store0.loc[:, "점포_수":].columns, re_col0))

re_col1 = {
    "기준_년_코드" : "년도",
    "기준_분기_코드" : "분기",
    "상권_구분_코드" : "상권유형",
    "상권_코드" : "상권",
    "서비스_업종_코드" : "업종"
    }

for df in df_list :
    df.rename(columns = re_col0, inplace = True)
    df.rename(columns = re_col1, inplace = True)

In [ ]:
drop_col = ["상권_구분_코드_명", "상권_코드_명", "서비스_업종_코드_명"]

for df in df_list :
    df.drop(columns = drop_col, inplace = True)

In [ ]:
store = pd.concat(df_list)

In [ ]:
store.isnull().mean()

년도                0.0
분기                0.0
상권유형              0.0
상권                0.0
업종                0.0
점포현황_점포수          0.0
점포현황_점포수_유사업종     0.0
점포현황_개업_비율        0.0
점포현황_개업_점포수       0.0
점포현황_폐업_비율        0.0
점포현황_폐업_점포수       0.0
점포현황_점포수_프랜차이즈    0.0
dtype: float64

In [ ]:
store

,년도,분기,상권유형,상권,업종,점포현황_점포수,점포현황_점포수_유사업종,점포현황_개업_비율,점포현황_개업_점포수,점포현황_폐업_비율,점포현황_폐업_점포수,점포현황_점포수_프랜차이즈
0,2023,1,U,3001496,CS300043,13,13,0,0,0,0,0
1,2023,1,U,3001496,CS300042,1,1,0,0,0,0,0
2,2023,1,U,3001496,CS300041,8,8,0,0,0,0,0
3,2023,1,U,3001496,CS300038,2,2,0,0,0,0,0
4,2023,1,U,3001496,CS300036,19,19,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
296398,2017,4,U,1001496,CS300036,12,12,0,0,0,0,0
296399,2017,4,U,1001496,CS300038,10,10,0,0,0,0,0
296400,2017,4,U,1001496,CS300041,9,9,0,0,0,0,0
296401,2017,4,U,1001496,CS300042,1,1,0,0,0,0,0
296402,2017,4,U,1001496,CS300043,8,8,0,0,0,0,0

## incomeConsumption : 소득소비

In [ ]:
incomeConsumption = pd.read_csv(data.RAWDICT['소득소비'][0], encoding = "euc-kr")

In [ ]:
a = "소득"
b = "지출"
c = "금액"

ds = ["월평균", "구간"]
es = ["식료품", "의류", "생활용품", "의료", "교통", "여가", "문화", "교육", "유흥"]

xs = []

xs.append(a + "_" + c + "_" + ds[0])
xs.append(a + "_" + ds[1])
xs.append(b + "_" + c)

for i in es :
    xs.append(b + "_" + c + "_" + i)

re_col0 = dict(
    zip(
        incomeConsumption.loc[:, "월_평균_소득_금액":"유흥_지출_총금액"].columns,
        xs
        )
    )

re_col1 = {
    "기준_년_코드" : "년도",
    "기준_분기_코드" : "분기",
    "상권_구분_코드" : "상권유형",
    "상권_코드" : "상권"
    }

incomeConsumption = incomeConsumption.rename(columns = re_col0)
incomeConsumption = incomeConsumption.rename(columns = re_col1)

In [ ]:
drop_col = ["상권_구분_코드_명", "상권_코드_명"]
incomeConsumption = incomeConsumption.drop(columns = drop_col)

In [ ]:
incomeConsumption.isnull().mean()

년도            0.000000
분기            0.000000
상권유형          0.000000
상권            0.000000
소득_금액_월평균     0.044395
소득_구간         0.044395
지출_금액         0.019789
지출_금액_식료품     0.019789
지출_금액_의류      0.019789
지출_금액_생활용품    0.019789
지출_금액_의료      0.019789
지출_금액_교통      0.019789
지출_금액_여가      0.019789
지출_금액_문화      0.019789
지출_금액_교육      0.019789
지출_금액_유흥      0.019789
dtype: float64

In [ ]:
incomeConsumption

,년도,분기,상권유형,상권,소득_금액_월평균,소득_구간,지출_금액,지출_금액_식료품,지출_금액_의류,지출_금액_생활용품,지출_금액_의료,지출_금액_교통,지출_금액_여가,지출_금액_문화,지출_금액_교육,지출_금액_유흥
0,2023,1,A,2110001,NaN,NaN,5.204276e+08,1.291260e+08,64853632.0,37122367.0,65974602.0,8.834376e+07,22223650.0,14656697.0,7.618534e+07,21941557.0
1,2023,1,A,2110002,NaN,NaN,2.324652e+08,5.499899e+07,28932090.0,17084860.0,28271372.0,4.093308e+07,10180461.0,6575012.0,3.580528e+07,9684061.0
2,2023,1,A,2110003,NaN,NaN,1.349699e+09,3.367042e+08,166150296.0,98720958.0,170559024.0,2.273671e+08,54707608.0,39088030.0,1.992198e+08,57182240.0
3,2023,1,A,2110004,NaN,NaN,7.127728e+08,2.056497e+08,84170011.0,51668351.0,100817261.0,1.118437e+08,23406627.0,22615164.0,8.286516e+07,29736776.0
4,2023,1,A,2110005,NaN,NaN,8.847016e+08,2.214469e+08,109882417.0,64738346.0,111988892.0,1.498229e+08,37478670.0,25606895.0,1.265444e+08,37192149.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40675,2017,1,U,1001492,3374268.0,7.0,3.927186e+08,1.087167e+08,50613591.0,31629067.0,57724736.0,6.835523e+07,18120779.0,12007946.0,2.774372e+07,17806813.0
40676,2017,1,U,1001493,3703242.0,7.0,2.575916e+09,5.718456e+08,331658370.0,216948420.0,284618706.0,4.328987e+08,133108260.0,78089725.0,4.192844e+08,107463896.0
40677,2017,1,U,1001494,2350877.0,5.0,2.640514e+09,7.498735e+08,329659514.0,205602917.0,379663271.0,4.201432e+08,120789050.0,82279604.0,2.429368e+08,109565869.0
40678,2017,1,U,1001495,4738833.0,8.0,7.600040e+09,1.816018e+09,959308913.0,601365457.0,893135612.0,1.340093e+09,335563062.0,228534622.0,1.095590e+09,330430397.0
40679,2017,1,U,1001496,5003931.0,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## pop0 : 상주인구

In [ ]:
pop0 = pd.read_csv(data.RAWDICT['상주인구'][0], encoding = "euc-kr")

In [ ]:
cols = list(pop0.loc[:, "총 상주인구 수":].columns)
drop_col0 = list(pop0.loc[:, "남성연령대 10 상주인구 수":"여성연령대 60 이상 상주인구 수"].columns)
cols = [col for col in cols if col not in drop_col0]

a = "상주인구"

b = "성별"
bs = ["남성", "여성"]

c = "연령대별"
cs = ["10대", "20대", "30대", "40대", "50대", "60이상"]

d = "가구"
d0 = "아파트"
d1 = "비아파트"

xs = []

xs.append(a)
for i in bs :
    xs.append(a + "_" + b + "_" + i)
for i in cs :
    xs.append(a + "_" + c + "_" + i)
xs.append(a + "_" + d)
xs.append(a + "_" + d + "_" + d0)
xs.append(a + "_" + d + "_" + d1)

re_col0 = dict(zip(cols, xs))

re_col1 = {
    "기준_년_코드" : "년도",
    "기준_분기_코드" : "분기",
    "상권_구분_코드" : "상권유형",
    "상권 코드" : "상권"
    }

pop0 = pop0.rename(columns = re_col0)
pop0 = pop0.rename(columns = re_col1)

In [ ]:
drop_col1 = ["상권_구분_코드_명", "상권 코드 명"]

pop0 = pop0.drop(columns = drop_col0)
pop0 = pop0.drop(columns = drop_col1)

In [ ]:
pop0.isnull().mean()

년도                0.0
분기                0.0
상권유형              0.0
상권                0.0
상주인구              0.0
상주인구_성별_남성        0.0
상주인구_성별_여성        0.0
상주인구_연령대별_10대     0.0
상주인구_연령대별_20대     0.0
상주인구_연령대별_30대     0.0
상주인구_연령대별_40대     0.0
상주인구_연령대별_50대     0.0
상주인구_연령대별_60이상    0.0
상주인구_가구           0.0
상주인구_가구_아파트       0.0
상주인구_가구_비아파트      0.0
dtype: float64

In [ ]:
pop0

,년도,분기,상권유형,상권,상주인구,상주인구_성별_남성,상주인구_성별_여성,상주인구_연령대별_10대,상주인구_연령대별_20대,상주인구_연령대별_30대,상주인구_연령대별_40대,상주인구_연령대별_50대,상주인구_연령대별_60이상,상주인구_가구,상주인구_가구_아파트,상주인구_가구_비아파트
0,2023,1,U,3001496,19,11,8,6,0,1,4,1,7,10,0,10
1,2023,1,U,3001495,5902,2885,3017,572,462,1173,1128,849,1718,2964,0,2964
2,2023,1,U,3001494,1720,1092,628,32,94,178,157,304,955,1304,0,1304
3,2023,1,U,3001493,1807,941,866,163,161,338,303,288,554,961,0,961
4,2023,1,U,3001492,600,365,235,13,20,62,76,113,316,469,0,469
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40801,2017,1,A,2110005,1940,941,999,352,265,228,373,283,439,759,12,747
40802,2017,1,A,2110004,534,262,272,82,58,59,117,74,144,258,0,258
40803,2017,1,A,2110003,3337,1627,1710,618,526,399,567,569,658,1273,112,1161
40804,2017,1,A,2110002,680,335,345,92,53,69,109,114,243,349,49,300
40805,2017,1,A,2110001,1211,574,637,214,173,110,230,199,285,436,0,436

## pop1 : 생활인구

In [ ]:
pop1 = pd.read_csv(data.RAWDICT['생활인구'][0], encoding = "euc-kr")

In [ ]:
a = "생활인구"

b = "성별"
bs = ["남성", "여성"]

c = "연령대별"
cs = ["10대", "20대", "30대", "40대", "50대", "60이상"]

d = "시간대별"
ds = ["00-06", "06-11", "11-14", "14-17", "17-21", "21-24"]

e = "요일별"
es = ["월", "화", "수", "목", "금", "토", "일"]

xs = []

xs.append(a)
for i in bs :
    xs.append(a + "_" + b + "_" + i)
for i in cs :
    xs.append(a + "_" + c + "_" + i)
for i in ds :
    xs.append(a + "_" + d + "_" + i)
for i in es :
    xs.append(a + "_" + e + "_" + i)

re_col0 = dict(
    zip(
        pop1.loc[:, "총_생활인구_수":"일요일_생활인구_수"].columns,
        xs
        )
    )

re_col1 = {
    "기준 년코드" : "년도",
    "기준_분기_코드" : "분기",
    "상권_구분_코드" : "상권유형",
    "상권_코드" : "상권"
    }

pop1 = pop1.rename(columns = re_col0)
pop1 = pop1.rename(columns = re_col1)

In [ ]:
drop_col0 = pop1.loc[:, "남성연령대_10_월요일시간대_1_생활인구_수":].columns
drop_col1 = [" 상권_구분_코드_명", "상권_코드_명"]

pop1 = pop1.drop(columns = drop_col0)
pop1 = pop1.drop(columns = drop_col1)

In [ ]:
pop1.isnull().mean()

년도                 0.0
분기                 0.0
상권유형               0.0
상권                 0.0
생활인구               0.0
생활인구_성별_남성         0.0
생활인구_성별_여성         0.0
생활인구_연령대별_10대      0.0
생활인구_연령대별_20대      0.0
생활인구_연령대별_30대      0.0
생활인구_연령대별_40대      0.0
생활인구_연령대별_50대      0.0
생활인구_연령대별_60이상     0.0
생활인구_시간대별_00-06    0.0
생활인구_시간대별_06-11    0.0
생활인구_시간대별_11-14    0.0
생활인구_시간대별_14-17    0.0
생활인구_시간대별_17-21    0.0
생활인구_시간대별_21-24    0.0
생활인구_요일별_월         0.0
생활인구_요일별_화         0.0
생활인구_요일별_수         0.0
생활인구_요일별_목         0.0
생활인구_요일별_금         0.0
생활인구_요일별_토         0.0
생활인구_요일별_일         0.0
dtype: float64

In [ ]:
pop1

,년도,분기,상권유형,상권,생활인구,생활인구_성별_남성,생활인구_성별_여성,생활인구_연령대별_10대,생활인구_연령대별_20대,생활인구_연령대별_30대,생활인구_연령대별_40대,생활인구_연령대별_50대,생활인구_연령대별_60이상,생활인구_시간대별_00-06,생활인구_시간대별_06-11,생활인구_시간대별_11-14,생활인구_시간대별_14-17,생활인구_시간대별_17-21,생활인구_시간대별_21-24,생활인구_요일별_월,생활인구_요일별_화,생활인구_요일별_수,생활인구_요일별_목,생활인구_요일별_금,생활인구_요일별_토,생활인구_요일별_일
0,2023,1,U,3001496,109623,55025,54598,8151,22623,30415,24954,13651,9828,6105,20609,26167,27154,23482,6106,15714,16427,17070,18252,17618,13137,11402
1,2023,1,U,3001495,4186941,2027264,2159678,488085,889385,999933,695580,521905,592055,690534,765111,648817,693669,914830,473982,583119,595302,601124,606581,613760,621680,565374
2,2023,1,U,3001494,8502972,4590859,3912112,351982,1513170,1606018,1602118,1515462,1914224,855100,1614425,1819068,1856681,1707645,650054,1296243,1339484,1351829,1392225,1377047,1009101,737044
3,2023,1,U,3001493,3352203,1590289,1761913,182026,596012,800692,652012,516591,604870,693097,668494,505520,500715,579135,405243,512118,528515,528420,541265,501620,375930,364334
4,2023,1,U,3001492,7334315,3588578,3745738,317233,1266022,1793576,1648217,1171566,1137703,432967,1526756,1814899,1808164,1377142,374389,1144424,1199754,1200975,1248387,1209872,762858,568045
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41685,2017,1,A,2110005,143249,62982,80268,21876,18119,16491,22621,22579,41563,37973,28934,16618,16382,23755,19587,20682,21069,20051,20580,20346,19835,20686
41686,2017,1,A,2110004,353902,156216,197686,66602,36470,41583,55304,49391,104552,85906,75574,44366,43920,59619,44516,50535,49915,51403,50852,50584,50333,50279
41687,2017,1,A,2110003,374027,166810,207216,60121,41596,40761,58459,59401,113688,112490,81736,40974,38378,52500,47950,53076,52881,53087,53169,53813,53110,54891
41688,2017,1,A,2110002,268151,117436,150714,41597,26231,32657,41405,37497,88763,54616,56628,36381,37182,48933,34409,38677,38231,39712,40015,38673,36952,35891
41689,2017,1,A,2110001,148356,65549,82808,22420,15352,13655,21784,23435,51710,38967,33509,18044,17072,22706,18060,20679,20193,20473,20651,20543,22426,23392

## pop2 : 직장인구

In [ ]:
pop2 = pd.read_csv(data.RAWDICT['직장인구'][0], encoding = "euc-kr")

In [ ]:
a = "직장인구"

b = "성별"
bs = ["남성", "여성"]

c = "연령대별"
cs = ["10대", "20대", "30대", "40대", "50대", "60이상"]

xs = []

xs.append(a)
for i in bs :
    xs.append(a + "_" + b + "_" + i)
for i in cs :
    xs.append(a + "_" + c + "_" + i)

re_col0 = dict(
    zip(
        pop2.loc[:, "총_직장_인구_수":"연령대_60_이상_직장_인구_수"].columns,
        xs
        )
    )

re_col1 = {
    "기준_년월_코드" : "년도",
    "기준_분기_코드" : "분기",
    "상권_구분_코드" : "상권유형",
    "상권_코드" : "상권"
    }

pop2 = pop2.rename(columns = re_col0)
pop2 = pop2.rename(columns = re_col1)

In [ ]:
drop_col0 = pop2.loc[:, "남성연령대_10_직장_인구_수":].columns
drop_col1 = ["상권_구분_코드_명", "상권_코드_명"]

pop2 = pop2.drop(columns = drop_col0)
pop2 = pop2.drop(columns = drop_col1)

In [ ]:
pop2.isnull().mean()

년도                0.0
분기                0.0
상권유형              0.0
상권                0.0
직장인구              0.0
직장인구_성별_남성        0.0
직장인구_성별_여성        0.0
직장인구_연령대별_10대     0.0
직장인구_연령대별_20대     0.0
직장인구_연령대별_30대     0.0
직장인구_연령대별_40대     0.0
직장인구_연령대별_50대     0.0
직장인구_연령대별_60이상    0.0
dtype: float64

In [ ]:
pop2

,년도,분기,상권유형,상권,직장인구,직장인구_성별_남성,직장인구_성별_여성,직장인구_연령대별_10대,직장인구_연령대별_20대,직장인구_연령대별_30대,직장인구_연령대별_40대,직장인구_연령대별_50대,직장인구_연령대별_60이상
0,2023,1,U,3001496,15904,8904,7000,59,3513,6185,4248,1596,303
1,2023,1,U,3001495,25240,14855,10385,124,4880,6877,5824,4628,2907
2,2023,1,U,3001494,32892,17118,15774,68,5350,9954,9473,6395,1652
3,2023,1,U,3001493,5916,2900,3016,36,1415,1672,1133,1020,640
4,2023,1,U,3001492,104830,53674,51156,423,27134,34007,23384,15726,4156
...,...,...,...,...,...,...,...,...,...,...,...,...,...
39362,2017,2,A,2110005,445,159,286,0,78,140,103,70,54
39363,2017,2,A,2110004,41,14,27,0,2,4,10,21,4
39364,2017,2,A,2110003,144,79,65,0,6,20,55,42,21
39365,2017,2,A,2110002,583,152,431,0,133,148,167,92,43
39366,2017,2,A,2110001,276,158,118,0,9,68,89,73,37

## apartment : 아파트

In [ ]:
apartment = pd.read_csv(data.RAWDICT['아파트'][0], encoding = "euc-kr")

In [ ]:
apartment.isnull().mean()

기준_년_코드                   0.000000
기준_분기_코드                  0.000000
상권_구분_코드                  0.000000
상권_구분_코드_명                0.000000
상권_코드                     0.000000
상권_코드_명                   0.039881
아파트_단지_수                  0.000000
아파트_면적_66_제곱미터_미만_세대_수    0.021785
아파트_면적_66_제곱미터_세대_수       0.072682
아파트_면적_99_제곱미터_세대_수       0.342226
아파트_면적_132_제곱미터_세대_수      0.630440
아파트_면적_165_제곱미터_세대_수      0.766811
아파트_가격_1_억_미만_세대_수        0.147688
아파트_가격_1_억_세대_수           0.051115
아파트_가격_2_억_세대_수           0.133747
아파트_가격_3_억_세대_수           0.421222
아파트_가격_4_억_세대_수           0.638284
아파트_가격_5_억_세대_수           0.751175
아파트_가격_6_억_이상_세대_수        0.781079
아파트_평균_면적                 0.000000
아파트_평균_시가                 0.000000
dtype: float64

In [ ]:
re_col0 = {
    '아파트_단지_수' : "아파트_단지수",
    '아파트_평균_면적' : "아파트_면적_평균",
    '아파트_평균_시가' : "아파트_시가_평균"
    }

re_col1 = {
    "기준_년_코드" : "년도",
    "기준_분기_코드" : "분기",
    "상권_구분_코드" : "상권유형",
    "상권_코드" : "상권"
    }

apartment = apartment.rename(columns = re_col0)
apartment = apartment.rename(columns = re_col1)

In [ ]:
select_col = list(re_col1.values())
select_col.extend(list(re_col0.values()))

apartment = apartment[select_col]

In [ ]:
apartment.isnull().mean()

년도           0.0
분기           0.0
상권유형         0.0
상권           0.0
아파트_단지수      0.0
아파트_면적_평균    0.0
아파트_시가_평균    0.0
dtype: float64

In [ ]:
apartment

         년도  분기 상권유형       상권  아파트_단지수  아파트_면적_평균  아파트_시가_평균
0      2023   1    R  3130326        2         53  619557576
1      2023   1    R  3130325        5         61  291791515
2      2023   1    R  3130324       17         61  207670108
3      2023   1    R  3130323       29         58  186899937
4      2023   1    R  3130322        9         49  198120222
...     ...  ..  ...      ...      ...        ...        ...
36579  2017   1    U  1001493        9         75  255165210
36580  2017   4    U  1001491       69         83  365951239
36581  2017   3    U  1001491       69         83  365951239
36582  2017   2    U  1001491       69         83  365951239
36583  2017   1    U  1001491       69         83  365951239

[36584 rows x 7 columns]

## vari : 상권변화지표

In [ ]:
vari = pd.read_csv(data.RAWDICT['상권변화지표'][0], encoding = "euc-kr")

In [ ]:
cols = list(vari.loc[:, "상권_변화_지표":].columns)
cols.remove("상권_변화_지표_명")

xs = []

a = "상권변화지표"
b = "영업개월평균"
cs = ["상권", "서울"]
ds = ["운영", "폐업"]

xs.append(a)
for i in cs :
    for j in ds :
        xs.append(a + "_" + b + "_" + j + "_" + i)

re_col0 = dict(zip(cols, xs))

re_col1 = {
    "기준_년_코드" : "년도",
    "기준_분기_코드" : "분기",
    "상권_구분_코드" : "상권유형",
    "상권_코드" : "상권"
    }

vari = vari.rename(columns = re_col0)
vari = vari.rename(columns = re_col1)

In [ ]:
select_col = list(re_col1.values())
select_col.extend(list(re_col0.values()))

vari = vari[select_col]

In [ ]:
vari.isnull().mean()

년도                     0.0
분기                     0.0
상권유형                   0.0
상권                     0.0
상권변화지표                 0.0
상권변화지표_영업개월평균_운영_상권    0.0
상권변화지표_영업개월평균_폐업_상권    0.0
상권변화지표_영업개월평균_운영_서울    0.0
상권변화지표_영업개월평균_폐업_서울    0.0
dtype: float64

In [ ]:
vari

,년도,분기,상권유형,상권,상권변화지표,상권변화지표_영업개월평균_운영_상권,상권변화지표_영업개월평균_폐업_상권,상권변화지표_영업개월평균_운영_서울,상권변화지표_영업개월평균_폐업_서울
0,2023,1,U,3001496,HH,119,63,104,52
1,2023,1,U,3001495,LL,96,50,104,52
2,2023,1,U,3001494,HH,153,72,104,52
3,2023,1,U,3001493,HH,118,60,104,52
4,2023,1,U,3001492,HH,156,64,104,52
...,...,...,...,...,...,...,...,...,...
41665,2017,1,A,2110005,HH,105,56,98,51
41666,2017,1,A,2110004,HH,149,66,98,51
41667,2017,1,A,2110003,HH,104,55,98,51
41668,2017,1,A,2110002,HH,116,55,98,51
41669,2017,1,A,2110001,LH,82,60,98,51

# 병합

## 데이터 세트 별 기준 컬럼 unique value 확인

In [ ]:
merge_on = ['년도', '분기', '상권유형', '상권', '업종']

df_name = ['추정매출', '점포현황', '소득소비', '상주인구', '생활인구', '직장인구', '아파트', '상권변화지표']
df_list = [target, store, incomeConsumption, pop0, pop1, pop2, apartment, vari]

In [ ]:
for col in merge_on :
    print(col)
    for i, df in enumerate(df_list) :
        try : print(f"{df_name[i]} : {df[col].nunique()}")
        except : print(f"{df_name[i]} : 칼럼 없음")
    print("\n")

년도
추정매출 : 7
점포현황 : 7
소득소비 : 7
상주인구 : 7
생활인구 : 7
직장인구 : 7
아파트 : 7
상권변화지표 : 7


분기
추정매출 : 4
점포현황 : 4
소득소비 : 4
상주인구 : 4
생활인구 : 4
직장인구 : 4
아파트 : 4
상권변화지표 : 4


상권유형
추정매출 : 4
점포현황 : 4
소득소비 : 4
상주인구 : 4
생활인구 : 4
직장인구 : 4
아파트 : 4
상권변화지표 : 4


상권
추정매출 : 3285
점포현황 : 3315
소득소비 : 1641
상주인구 : 3268
생활인구 : 3318
직장인구 : 3286
아파트 : 2953
상권변화지표 : 3318


업종
추정매출 : 81
점포현황 : 100
소득소비 : 칼럼 없음
상주인구 : 칼럼 없음
생활인구 : 칼럼 없음
직장인구 : 칼럼 없음
아파트 : 칼럼 없음
상권변화지표 : 칼럼 없음

## merge

In [ ]:
df_list = [target, store, incomeConsumption, pop0, pop1, pop2, apartment, vari]
merge_on = ['년도', '분기', '상권유형', '상권', '업종']

for i in range(len(df_list)) :
    if i == 0 :
        continue
    elif i == 1 :
        df_merge = pd.merge(df_list[i-1], df_list[i], how = 'inner', on = merge_on)
    else :
        df_merge = pd.merge(df_merge, df_list[i], how = 'inner', on = merge_on[:-1])

In [ ]:
for i, j in zip(df_merge.columns, df_merge.isnull().mean()) :
    print(i, ":", j)

년도 : 0.0
분기 : 0.0
상권유형 : 0.0
상권 : 0.0
업종 : 0.0
추정매출_금액 : 0.0
추정매출_건수 : 0.0
추정매출_비율_주중주말_주중 : 0.0
추정매출_비율_주중주말_주말 : 0.0
추정매출_비율_요일별_월 : 0.0
추정매출_비율_요일별_화 : 0.0
추정매출_비율_요일별_수 : 0.0
추정매출_비율_요일별_목 : 0.0
추정매출_비율_요일별_금 : 0.0
추정매출_비율_요일별_토 : 0.0
추정매출_비율_요일별_일 : 0.0
추정매출_비율_시간대별_00-06 : 0.0
추정매출_비율_시간대별_06-11 : 0.0
추정매출_비율_시간대별_11-14 : 0.0
추정매출_비율_시간대별_14-17 : 0.0
추정매출_비율_시간대별_17-21 : 0.0
추정매출_비율_시간대별_21-24 : 0.0
추정매출_비율_성별_남성 : 0.0
추정매출_비율_성별_여성 : 0.0
추정매출_비율_연령대별_10대 : 0.0
추정매출_비율_연령대별_20대 : 0.0
추정매출_비율_연령대별_30대 : 0.0
추정매출_비율_연령대별_40대 : 0.0
추정매출_비율_연령대별_50대 : 0.0
추정매출_비율_연령대별_60이상 : 0.0
추정매출_금액_주중주말_주중 : 0.0
추정매출_금액_주중주말_주말 : 0.0
추정매출_금액_요일별_월 : 0.0
추정매출_금액_요일별_화 : 0.0
추정매출_금액_요일별_수 : 0.0
추정매출_금액_요일별_목 : 0.0
추정매출_금액_요일별_금 : 0.0
추정매출_금액_요일별_토 : 0.0
추정매출_금액_요일별_일 : 0.0
추정매출_금액_시간대별_00-06 : 0.0
추정매출_금액_시간대별_06-11 : 0.0
추정매출_금액_시간대별_11-14 : 0.0
추정매출_금액_시간대별_14-17 : 0.0
추정매출_금액_시간대별_17-21 : 0.0
추정매출_금액_시간대별_21-24 : 0.0
추정매출_금액_성별_남성 : 0.0
추정매출_금액_성별_여성 : 0.0
추정매출_금액_연령대별_10대 : 0.0
추정매출_금액_연령대별_20대 : 0.0
추정매출_금액_연령대별_30대 : 0.0
추정매출_금액_연령대별_40대 : 0.0
추정매출_금액_연령대별_50대 : 0.0
추정매출_금액_연령대별_60이상 : 0.0
추정매출_건수_주중주말_주중 : 0.0
추정매출_건수_주중주말_주말 : 0.0
추정매출_건수_요일별_월 : 0.0
추정매출_건수_요일별_화 : 0.0
추정매출_건수_요일별_수 : 0.0
추정매출_건수_요일별_목 : 0.0
추정매출_건수_요일별_금 : 0.0
추정매출_건수_요일별_토 : 0.0
추정매출_건수_요일별_일 : 0.0
추정매출_건수_시간대별_00-06 : 0.0
추정매출_건수_시간대별_06-11 : 0.0
추정매출_건수_시간대별_11-14 : 0.0
추정매출_건수_시간대별_14-17 : 0.0
추정매출_건수_시간대별_17-21 : 0.0
추정매출_건수_시간대별_21-24 : 0.0
추정매출_건수_성별_남성 : 0.0
추정매출_건수_성별_여성 : 0.0
추정매출_건수_연령대별_10대 : 0.0
추정매출_건수_연령대별_20대 : 0.0
추정매출_건수_연령대별_30대 : 0.0
추정매출_건수_연령대별_40대 : 0.0
추정매출_건수_연령대별_50대 : 0.0
추정매출_건수_연령대별_60이상 : 0.0
추정매출_점포수 : 0.0
점포현황_점포수 : 0.0
점포현황_점포수_유사업종 : 0.0
점포현황_개업_비율 : 0.0
점포현황_개업_점포수 : 0.0
점포현황_폐업_비율 : 0.0
점포현황_폐업_점포수 : 0.0
점포현황_점포수_프랜차이즈 : 0.0
소득_금액_월평균 : 0.00029851345317352413
소득_구간 : 0.00029851345317352413
지출_금액 : 0.0002295292518098946
지출_금액_식료품 : 0.0002295292518098946
지출_금액_의류 : 0.0002295292518098946
지출_금액_생활용품 : 0.0002295292518098946
지출_금액_의료 : 0.0002295292518098946
지출_금액_교통 : 0.0002295292518098946
지출_금액_여가 : 0.0002295292518098946
지출_금액_문화 : 0.0002295292518098946
지출_금액_교육 : 0.0002295292518098946
지출_금액_유흥 : 0.0002295292518098946
상주인구 : 0.0
상주인구_성별_남성 : 0.0
상주인구_성별_여성 : 0.0
상주인구_연령대별_10대 : 0.0
상주인구_연령대별_20대 : 0.0
상주인구_연령대별_30대 : 0.0
상주인구_연령대별_40대 : 0.0
상주인구_연령대별_50대 : 0.0
상주인구_연령대별_60이상 : 0.0
상주인구_가구 : 0.0
상주인구_가구_아파트 : 0.0
상주인구_가구_비아파트 : 0.0
생활인구 : 0.0
생활인구_성별_남성 : 0.0
생활인구_성별_여성 : 0.0
생활인구_연령대별_10대 : 0.0
생활인구_연령대별_20대 : 0.0
생활인구_연령대별_30대 : 0.0
생활인구_연령대별_40대 : 0.0
생활인구_연령대별_50대 : 0.0
생활인구_연령대별_60이상 : 0.0
생활인구_시간대별_00-06 : 0.0
생활인구_시간대별_06-11 : 0.0
생활인구_시간대별_11-14 : 0.0
생활인구_시간대별_14-17 : 0.0
생활인구_시간대별_17-21 : 0.0
생활인구_시간대별_21-24 : 0.0
생활인구_요일별_월 : 0.0
생활인구_요일별_화 : 0.0
생활인구_요일별_수 : 0.0
생활인구_요일별_목 : 0.0
생활인구_요일별_금 : 0.0
생활인구_요일별_토 : 0.0
생활인구_요일별_일 : 0.0
직장인구 : 0.0
직장인구_성별_남성 : 0.0
직장인구_성별_여성 : 0.0
직장인구_연령대별_10대 : 0.0
직장인구_연령대별_20대 : 0.0
직장인구_연령대별_30대 : 0.0
직장인구_연령대별_40대 : 0.0
직장인구_연령대별_50대 : 0.0
직장인구_연령대별_60이상 : 0.0
아파트_단지수 : 0.0
아파트_면적_평균 : 0.0
아파트_시가_평균 : 0.0
상권변화지표 : 0.0
상권변화지표_영업개월평균_운영_상권 : 0.0
상권변화지표_영업개월평균_폐업_상권 : 0.0
상권변화지표_영업개월평균_운영_서울 : 0.0
상권변화지표_영업개월평균_폐업_서울 : 0.0

In [ ]:
df_merge

,년도,분기,상권유형,상권,업종,추정매출_금액,추정매출_건수,추정매출_비율_주중주말_주중,추정매출_비율_주중주말_주말,추정매출_비율_요일별_월,추정매출_비율_요일별_화,추정매출_비율_요일별_수,추정매출_비율_요일별_목,추정매출_비율_요일별_금,추정매출_비율_요일별_토,추정매출_비율_요일별_일,추정매출_비율_시간대별_00-06,추정매출_비율_시간대별_06-11,추정매출_비율_시간대별_11-14,추정매출_비율_시간대별_14-17,추정매출_비율_시간대별_17-21,추정매출_비율_시간대별_21-24,추정매출_비율_성별_남성,추정매출_비율_성별_여성,추정매출_비율_연령대별_10대,추정매출_비율_연령대별_20대,추정매출_비율_연령대별_30대,추정매출_비율_연령대별_40대,추정매출_비율_연령대별_50대,추정매출_비율_연령대별_60이상,추정매출_금액_주중주말_주중,추정매출_금액_주중주말_주말,추정매출_금액_요일별_월,추정매출_금액_요일별_화,추정매출_금액_요일별_수,추정매출_금액_요일별_목,추정매출_금액_요일별_금,추정매출_금액_요일별_토,추정매출_금액_요일별_일,추정매출_금액_시간대별_00-06,추정매출_금액_시간대별_06-11,추정매출_금액_시간대별_11-14,추정매출_금액_시간대별_14-17,추정매출_금액_시간대별_17-21,추정매출_금액_시간대별_21-24,추정매출_금액_성별_남성,추정매출_금액_성별_여성,추정매출_금액_연령대별_10대,추정매출_금액_연령대별_20대,추정매출_금액_연령대별_30대,추정매출_금액_연령대별_40대,추정매출_금액_연령대별_50대,추정매출_금액_연령대별_60이상,추정매출_건수_주중주말_주중,추정매출_건수_주중주말_주말,추정매출_건수_요일별_월,추정매출_건수_요일별_화,추정매출_건수_요일별_수,추정매출_건수_요일별_목,추정매출_건수_요일별_금,추정매출_건수_요일별_토,추정매출_건수_요일별_일,추정매출_건수_시간대별_00-06,추정매출_건수_시간대별_06-11,추정매출_건수_시간대별_11-14,추정매출_건수_시간대별_14-17,추정매출_건수_시간대별_17-21,추정매출_건수_시간대별_21-24,추정매출_건수_성별_남성,추정매출_건수_성별_여성,추정매출_건수_연령대별_10대,추정매출_건수_연령대별_20대,추정매출_건수_연령대별_30대,추정매출_건수_연령대별_40대,추정매출_건수_연령대별_50대,추정매출_건수_연령대별_60이상,추정매출_점포수,점포현황_점포수,점포현황_점포수_유사업종,점포현황_개업_비율,점포현황_개업_점포수,점포현황_폐업_비율,점포현황_폐업_점포수,점포현황_점포수_프랜차이즈,소득_금액_월평균,소득_구간,지출_금액,지출_금액_식료품,지출_금액_의류,지출_금액_생활용품,지출_금액_의료,지출_금액_교통,지출_금액_여가,지출_금액_문화,지출_금액_교육,지출_금액_유흥,상주인구,상주인구_성별_남성,상주인구_성별_여성,상주인구_연령대별_10대,상주인구_연령대별_20대,상주인구_연령대별_30대,상주인구_연령대별_40대,상주인구_연령대별_50대,상주인구_연령대별_60이상,상주인구_가구,상주인구_가구_아파트,상주인구_가구_비아파트,생활인구,생활인구_성별_남성,생활인구_성별_여성,생활인구_연령대별_10대,생활인구_연령대별_20대,생활인구_연령대별_30대,생활인구_연령대별_40대,생활인구_연령대별_50대,생활인구_연령대별_60이상,생활인구_시간대별_00-06,생활인구_시간대별_06-11,생활인구_시간대별_11-14,생활인구_시간대별_14-17,생활인구_시간대별_17-21,생활인구_시간대별_21-24,생활인구_요일별_월,생활인구_요일별_화,생활인구_요일별_수,생활인구_요일별_목,생활인구_요일별_금,생활인구_요일별_토,생활인구_요일별_일,직장인구,직장인구_성별_남성,직장인구_성별_여성,직장인구_연령대별_10대,직장인구_연령대별_20대,직장인구_연령대별_30대,직장인구_연령대별_40대,직장인구_연령대별_50대,직장인구_연령대별_60이상,아파트_단지수,아파트_면적_평균,아파트_시가_평균,상권변화지표,상권변화지표_영업개월평균_운영_상권,상권변화지표_영업개월평균_폐업_상권,상권변화지표_영업개월평균_운영_서울,상권변화지표_영업개월평균_폐업_서울
0,2023,1,U,3001495,CS300043,38943292,903,62,38,4,15,13,19,11,12,26,10,6,16,49,15,4,60,40,1,13,25,27,30,4,24293111,14650181,1592410,5909612,5024941,7572799,4193349,4511831,10138350,3874866,2370923,6369643,19091238,5856533,1380089,23213812,15729480,176935,5060328,9908334,10616071,11589213,1592411,568,335,35,141,106,143,143,105,230,36,71,160,317,231,88,602,301,18,232,264,230,123,36,184,183,184,0,0,3,5,1,4220819.0,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5902,2885,3017,572,462,1173,1128,849,1718,2964,0,2964,4186941,2027264,2159678,488085,889385,999933,695580,521905,592055,690534,765111,648817,693669,914830,473982,583119,595302,601124,606581,613760,621680,565374,25240,14855,10385,124,4880,6877,5824,4628,2907,27,83,593103143,LL,96,50,104,52
1,2023,1,U,3001495,CS300032,7070476434,15599,50,50,19,8,7,5,10,24,27,0,2,21,35,40,2,50,51,1,12,37,18,21,12,3504095258,3566381176,1369396948,574925381,484002781,365935076,709835072,1664401043,1901980133,0,129312157,1463399698,2500781322,2856363009,120620248,3381209980,3454217374,32725206,826919676,2536180713,1235606738,1400635173,803359848,8748,6851,2119,1837,1563,1479,1750,3353,3498,0,323,3314,5551,6319,92,8170,6955,171,3131,4174,3107,2700,1842,12,12,12,0,0,0,0,0,4220819.0,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5902,2885,3017,572,462,1173,1128,849,1718,2964,0,2964,4186941,2027264,2159678,488085,889385,999933,695580,521905,592055,690534,765111,648817,693669,914830,473982,583119,595302,601124,606581,613760,621680,565374,25240,14855,10385,124,4880,6877,5824,4628,2907,27,83,593103143,LL,96,50,104,52
2,2023,1,U,3001495,CS300031,125951207,149,59,41,43,0,6,6,4,25,17,0,0,20,74,7,0,83,17,0,0,0,51,18,31,73984317,51966890,54073912,0,7259009,7511578,5139818,31180134,20786756,0,0,25069480,92538679,8343048,0,104774520,21176687,0,0,172615,64249973,22941020,38587599,130,19,38,0,41,10,41,10,9,0,0,60,70,19,0,89,60,0,0,32,18,39,60,12,12,12,8,1,0,0,0,4220819.0,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5902,2885,3017,572,462,1173,1128,849,1718,2964,0,2964,4186941,2027264,2159678,488085,889385,999933,695580,521905,592055,690534,765111,648817,693669,914830,473982,583119,595302,601124,606581,613760,621680,565374,25240,14855,10385,124,4880,6877,5824,4628,2907,27,83,593103143,LL,96,50,104,52
3,2023,1,U,3001495,CS300028,16489979,118,73,27,65,0,0,0,8,27,0,0,8,27,0,0,65,0,100,0,0,0,0,89,11,12041244,4448735,10706623,0,0,0,1334621,4448735,0,0,1334621,4448735,0,0,10706623,0,12041244,0,0,0,0,10706623,1334621,58,60,29,0,0,0,29,60,0,0,29,59,0,0,30,0,60,0,0,0,0,30,30,20,20,20,5,1,0,0,0,4220819.0,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5902,2885,3017,572,462,1173,1128,849,1718,2964,0,2964,4186941,2027264,2159678,488085,889385,999933,695580,521905,592055,690534,765111,648817,693669,914830,473982,583119,595302,601124,606581,613760,621680,565374,25240,14855,10385,124,4880,6877,5824,4628,2907,27,83,593103143,LL,96,50,104,52
4,2023,1,U,3001495,CS300026,18960797778,491106,50,50,10,10,11,9,11,26,25,0,3,20,36,36,5,54,46,1,10,35,39,7,8,9469397436,9491400342,1828803420,1841694449,1993811381,1746777631,2058310555,4834720911,4656679431,0,526253370,3866731781,6793583882,6861930231,912298514,10169789200,8791008578,190119413,1951003149,6625029654,7395792572,1343407978,1455445012,244834,246272,47410,49590,50422,44478,52934,127323,118949,0,10051,101052,179235,183827,16941,240246,250860,6324,51181,190271,191084,24929,27317,12,11,12,0,0,0,0,1,4220819.0,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5902,2885,3017,572,462,1173,1128,849,1718,2964,0,2964,4186941,2027264,2159678,488085,889385,999933,695580,521905,592055,690534,765111,648817,693669,914830,473982,583119,595302,601124,606581,613760,621680,565374,25240,14855,10385,124,4880,6877,5824,4628,2907,27,83,593103143,LL,96,50,104,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
797279,2017,4,U,1001495,CS300028,204315027,1948,59,41,4,2,41,2,10,24,17,0,1,7,43,40,9,57,43,1,40,14,1,37,6,120195471,84119556,7742205,4037218,84289455,3962632,20163961,48822254,35297302,0,2924899,13183837,87195707,82325895,18684689,66996451,51136738,1304963,47241157,16440134,1657726,44169065,7320143,1297,651,293,177,354,183,290,407,244,0,77,515,401,777,178,1181,570,119,582,480,89,287,198,14,14,14,0,0,0,0,0,4755261.0,8.0,8.751577e+09,1.816409e+09,1.103987e+09,722602116.0,917183031.0,1.534513e+09,468534099.0,243707454.0,1.598783e+09,345857729.0,6513,3176,3337,811,996,1455,967,973,1311,3296,108,3188,3239597,1560131,1679466,308850,643982,693306,501738,457844,633876,575836,591570,489027,520932,682677,379556,449223,451543,452332,465524,476163,488725,456087,25726,14932,10794,318,5427,7186,6316,4565,1914,22,90,444186370,LH,88,52,100,52
797280,2017,4,U,1001495,CS300031,1007286066,5384,61,39,12,12,8,15,14,16,22,0,1,22,46,29,3,31,69,0,7,30,20,29,14,617652529,389633537,117730688,123941060,85047982,145654836,145277963,163774755,225858782,0,7961986,218225381,460046982,295980517,25071200,297782044,659812110,154230,63366623,291316399,195358425,272834749,134563730,3261,2123,762,634,582,698,585,952,1171,0,96,1047,2144,2028,69,1508,3680,4,605,1573,1183,1283,542,20,20,20,0,0,5,1,0,4755261.0,8.0,8.751577e+09,1.816409e+09,1.103987e+09,722602116.0,917183031.0,1.534513e+09,468534099.0,243707454.0,1.598783e+09,345857729.0,6513,3176,3337,811,996,1455,967,973,1311,3296,108,3188,3239597,1560131,1679466,308850,643982,693306,501738,457844,633876,575836,591570,489027,520932,682677,379556,449223,451543,452332,465524,476163,488725,456087,25726,14932,10794,318,5427,7186,6316,4565,1914,22,90,444186370,LH,88,52,100,52
797281,2017,4,U,1001495,CS300032,11758428396,61938,59,41,18,11,9,11,10,27,15,0,3,23,35,35,4,57,43,0,11,23,24,22,19,6917931018,4840497378,2089751313,1329916008,1052019748,1266276025,1179967924,3114186258,1726311120,0,359772868,2702160757,4111228519,4155574981,429691271,5861892399,4467316594,38350004,1180981027,2370048457,2519029753,2256238123,1964561634,39089,22849,9870,7769,6597,6714,8139,14215,8634,0,3082,15978,19462,20888,2528,34382,21790,720,11384,12515,11457,10252,9845,18,18,18,0,0,0,0,0,4755261.0,8.0,8.751577e+09,1.816409e+09,1.103987e+09,722602116.0,917183031.0,1.534513e+09,468534099.0,243707454.0,1.598783e+09,345857729.0,6513,3176,3337,811,996,1455,967,973,1311,3296,108,3188,3239597,1560131,1679466,308850,643982,693306,501738,457844,633876,575836,591570,489027,520932,682677,379556,449223,451543,452332,465524,476163,488725,456087,25726,14932,10794,318,5427,7186,6316,4565,1914,22,90,444186370,LH,88,52,100,52
797282,2017,4,U,1001495,CS300041,3719990,154,63,37,6,31,8,14,4,19,18,0,1,24,40,35,0,31,69,1,8,52,31,5,3,2347327,1372663,209697,1136218,308127,530662,162623,716824,655839,0,19258,899774,1489280,1311678,0,909403,2053109,38516,235375,1552402,907263,143364,85591,65,89,13,19,12,10,11,43,46,0,4,47,56,47,0,60,84,2,13,62,52,8,6,10,10,10,0,0,0,0,0,4755261.0,8.0,8.751577e+09,1.816409e+09,1.103987e+09,722602116.0,917183031.0,1.534513e+09,468534099.0,243707454.0,1.598783e+09,345857729.0,6513,3176,3337,811,996,1455,967,973,1311,3296,108,3188,3239597,1560131,1679466,308850,643982,693306,501738,457844,633876,575836,591570,489027,520932,682677,379556,449223,451543,452332,465524,476163,488725,456087,25726,14932,10794,318,5427,7186,6316,4565,1914,22,90,444186370,LH,88,52,100,52
797283,2017,4,U,1001495,CS300043,3716737158,57757,77,23,13,15,19,15,15,12,11,12,12,16,21,20,18,59,41,2,16,30,23,27,3,2873032834,843704324,479400155,555793383,698526735,571291212,568021349,452105386,391598938,455976557,461621828,591429185,783481578,757906996,666321014,1788877299,1233242633,50922486,473715225,895033161,678771209,820547647,103130206,43555,14202,8817,8779,8970,8728,8261,8017,6185,7621,7907,11090,10261,11712,9166,36301,17451,1289,11135,17756,9594,13301,681,60,60,60,2,1,0,0,0,4755261.0,8.0,8.751577e+09,1.816409e+09,1.103987e+09,722602116.0,917183031.0,1.534513e+09,468534099.0,243707454.0,1.598783e+09,345857729.0,6513,3176,3337,811,996,1455,967,973,1311,3296,108,3188,3239597,1560131,1679466,308850,643982,693306,501738,457844,633876,575836,591570,489027,520932,682677,379556,449223,451543,452332,465524,476163,488725,456087,25726,14932,10794,318,5427,7186,6316,4565,1914,22,90,444186370,LH,88,52,100,52

# save

In [ ]:
df_merge.to_csv("data/df_merge.csv", index = False)